<footer class='wrapper'>
    <table>
      <tbody>
        <tr>
          <td height="76" width="40" bgcolor="#616161">&nbsp;</td>
          <td bgcolor="#616161"><a href="http://www.servebox.com/"><img src="http://www.servebox.com/com/summer-list/servebox-footer.png" alt="servebox" border="0"></a></td>
          <td width="45" bgcolor="#616161"><a href="https://github.com/servebox"><img src="http://www.servebox.com/com/summer-list/ico-github.png" alt="github" border="0"></a></td>
          <td width="45" bgcolor="#616161"><a href="http://twitter.com/ServeBox"><img src="http://www.servebox.com/com/summer-list/ico-twitter.png" alt="twitter" border="0"></a></td>
          <td width="45" bgcolor="#616161"><a href="http://www.linkedin.com/company/5005077"><img src="http://www.servebox.com/com/summer-list/ico-linkedin.png" alt="linkedin" border="0"></a></td>
          <!--
            <td width="45" bgcolor="#616161"><a href="https://servebox.wufoo.com/forms/zicax6m1ce2aoh/"><img src="http://www.servebox.com/com/summer-list/ico-mail.png" alt="mail" border="0"></a></td>
          -->
        </tr>
      </tbody>
  </table>
</footer>
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.servebox.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 2]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.servebox.com/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
