/**
 * Site header
 */
.site-header {
    .wrapper{
      display: table;
      height: $header-height;
      width: 100%;
      background: url(/assets/polygons-1280.png) no-repeat;
      background-position: center;
      border-bottom: 5px solid $grey-color-dark;
      position: relative;
      padding: 0;
      max-width: 1280px;
      height: 350px;
      @include media-query($on-tablet) {
        background: url(/assets/polygons-768.png) no-repeat;
        background-position: center;
        height: 210px;
      }
      i.logo{
        position: absolute;
        left: 10px;
        width: 110px;
        height: 350px;
        background: url(/assets/grigri-1280.png) no-repeat;
        @include media-query($on-tablet) {
          background: url(/assets/grigri-768.png) no-repeat;
          height: 210px;
        }
        @include media-query($on-phone) {
          display: none;
        }
      }
    }
}

.site-title {
    font-size: 26px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 3.75em;

    &,
    &:visited {
        color: #fff;
    }

    @include media-query($on-tablet) {
      font-size: 2.5em;
    }

    @include media-query($on-phone) {
      font-size: 1.875em;
    }
}

/**
 * Site footer
 */
.site-footer {
  padding: 0;
    .wrapper {
      border-top: 1px solid $grey-color-light;
      padding: $spacing-unit;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-tablet) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-phone) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
.page-content {
  .wrapper {
    padding: $spacing-unit;
    @include media-query($on-phone) {
      padding: 15px;
    }
  }
}

.page-heading {
    font-size: 4.375em;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: #676767;
    border-bottom: 5px solid #676767;
    padding-bottom: $spacing-unit;
    margin-bottom: $spacing-unit / 2;
    @include media-query($on-laptop) {
      font-size: 3em;
    }
    @include media-query($on-tablet) {
      font-size: 2.75em;
    }
    @include media-query($on-phone) {
      font-size: 1.875em;
    }
}

.post-list {
    margin: 0;
    list-style: none;
    > li {
        width: 30%;
        max-width: 380px;

        @include media-query($on-desktop) {
          width: 50%;
        }

        @include media-query($on-tablet) {
          margin: 1em 0;
          width: 100%;
          max-width: none;
        }

        @include media-query($on-phone) {
          width: 100%;
        }

        margin: 1em;
        margin-bottom: $spacing-unit;
        a.thumbnail{
          text-align: center;
          max-width: 250px;
          display: block;
          margin: 10px auto;
        }
      > div {
        padding: $spacing-unit;
        width: auto;
      }
      color: #fff;
      code{
        color: #333;
      }
      font-size: 1.25em;
      h2{
        line-height: 1.2;
        font-weight: normal;
        font-size: 1.25em;
        padding: 0.625em;
        margin: $spacing-unit;
        margin-top: $spacing-unit / 2;
        margin-left: -10px - $spacing-unit;
        a, a:visited, a:hover {
          color: #fff;
        }
      }
      aside {
        background: #fff9ee;
        font-style: italic;
        color: #bbb;
        padding: 0.675em;
        border-radius: 0.25em;
        margin-bottom: $spacing-unit;
        position: relative;
        &:after {
          top: 100%;
          left: 10%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 249, 238, 0);
          border-top-color: #fff9ee;
          border-width: 10px;
          margin-left: -10px;
        }
      }
    }
    .card {
      > div {
        background: #f4bd4d;
      }
      h2{
        background: #ee9030;
      }
    }
    .post {
      > div {
        background: #e75281;
      }
      h2{
        background: #cc0142;
      }
    }
}

nav.tags, nav.post-tags{
  ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    > li{
      padding: 5px;
      border-radius: 5px;
    }
  }
}
nav.post-tags{
  padding-top: $spacing-unit;
  border-top: 2px dotted #fff;
  ul{
    li {
      margin: 0 5px 5px 0;
      font-size: 0.75em;
      background: rgba(255, 255, 255, 0.6);
      a, a:visited, a:hover{
        color: #676767;
      }
    }
  }
}

nav.tags {
  ul{
    justify-content: center;
    @extend %clearfix;
    > li {
      margin: 5px;
      border: 1px solid #676767;
      a, a:visited, a:hover{
        color: #676767;
      }
      &.active{
        border: 1px solid #ee9030;
        a, a:visited, a:hover{
          color: #ee9030;
        }
      }
    }
  }
}


.credits{
  font-size: 0.75em;
  padding: 5px;
  margin-bottom: $spacing-unit;
  text-align: center;
  &, a, a:visited, a:hover{
    color: #676767;
  }
}

.post-meta {
    font-weight: 300;
    text-transform: uppercase;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    table {
      border-collapse: collapse;
      border-spacing: 0px;
      box-sizing: border-box;
      margin: 1.6em 0px;
      width: 100%;
      max-width: 100%;
      background-color: transparent;

      th, td {
        padding: 8px;
        line-height: 20px;
        text-align: left;
        vertical-align: top;
        border-top: 1px solid #EFEFEF;
      }

      tbody > tr:nth-child(odd){
        & > td, & > th {
          background-color: #f6f6f6;
        }
      }

      th{
        color: #000;
      }
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    img {
      display: block;
      max-width: 100%;
      margin: 0px auto;
    }
    .caption{
      display: block;
      text-align: center;
    }
}

.author{
  margin-bottom: $spacing-unit;
  font-size: 1.25em;
  .avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  a{
    &, &:visited {
      color: #fff;
    }
  }
}

.wrapper > .post {

  padding: 3em 6em;

  @include media-query($on-laptop) {
    padding: 2em 4em;
  }

  @include media-query($on-tablet) {
    padding: 1em 2em;
  }

  @include media-query($on-phone) {
    padding: 0.5em;
  }


  p {
    text-align: justify;
  }
}
